body {
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 50px;
    background-image: url("https://img.jagranjosh.com/images/2024/October/30102024/diwali-wishes.webp");
  }
  input {
    padding: 10px;
    font-size: 16px;
  }
  button {
    padding: 10px 15px;
    font-size: 16px;
    cursor: pointer;
  }
  #message {
    margin-top: 20px;
    font-size: 24px;
    color: #d4731b;
  }